.photo-upload
	.preview
		img#loading.loading.hidden(src="img/loading.gif")
		img#cover.cover(src=coverUrl)
	.controls.text-center
		input#fileupload.fileupload(type="file")
		button#selectfile.selectfile.btn.btn-default(type="button") Change Cover
		p.help-block Cover changes are not permanent until book is added.
